{
  "parser": "babel-eslint",
  "plugins": ["import"],
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-body-style": 0,
    "comma-dangle": 0,
    "eqeqeq": 0,
    "func-names": ["error", "never"],
    "indent": ["error", 4],
    "linebreak-style": 0,
    "max-len": ["error", { "code": 140 }],
    "no-lonely-if": 0,
    "no-plusplus": ["erro", { "allowForLoopAfterthoughts": true }],
    "no-restricted-syntax": ["error", "never"],
    "object-curly-newline": 0,
    "prefer-arrow-callback": 0
  }
}
