/**
 * Sass variables
 * */
 
 $action-btns:         rgb(236, 71, 92);
 $box-shadow-color:    0 0 2em 0 rgba(0, 0, 0, 0.6);
 $default-btn-opacity: rgba(0, 0, 0, 0.2);
 $footer-color:        rgb(0, 0, 0);
 $numpad-color:        rgb(246, 130, 122);
 $operation-btns:      rgb(247, 186, 134);
 $pressed-btn-opacity: 0 0 0.2em 0 rgba(0, 0, 0, 0.5) inset;
 $spacer-color:        rgba(201, 106, 99, 0.7);
 $text-color:          rgb(255, 255, 255);
 $ui-bg-color:         rgb(41, 54, 59);
